* {
    font-family: "Futura", "Franklin Gothic Medium", "Optima", "Verdana";
}

body {
    display: flex;
    justify-content: center;
    background-color: grey;
}

.full-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: red;
    gap: 40px;
    align-items: center;
    border: solid black;
    border-width: 5px;
    border-radius: 16px;
    padding: 40px;
}

.button-container {
    display: flex;
    gap: 400px;
}

button {
    font-size: 20px;
    background-color: black;
    border: solid black;
    border-radius: 8px;
    color: white;
}

.color-buttons {
    display: flex;
}

#rainbow-button {
    display: inline-flex;
    border-right-color: white;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

#r {
    color: red;
}

#a {
    color: orange;
}

#i {
    color: yellow;
}

#n {
    color: green;
}

#b {
    color: blue;
}

#o {
    color: indigo;
}

#w {
    color: violet;
}

#black-button {
    border-left-color: white;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.grid-container {
    display: flex;
    flex-wrap: wrap;
    width: 960px;
    border: solid black 4px;
    border-radius: 4px;
}

.block {
    display: flex;
    border: solid black;
    background-color: white;
    border-width: 1px;
    width: 60px;
    height: 60px;
    box-sizing: border-box;
}